 .mask {
     /*遮罩层*/
     background-color: gray;
     left: 0;
     position: absolute;
     top: 0;
     z-index: 100;
     filter: alpha(opacity=30);
     opacity: 0.3;
 }

 div.dialog {
     width: 296px;
     height: 173px;
     position: absolute;
     z-index: 101;
     display: none;
     background-image: url(img/dialog.png)
 }

 div.title {
     padding-top: 5px;
     padding-left: 270px;
 }

 div.dialog div.content {

     height: 90px;
     text-align: center;

     font: bold 15px/90px Verdana, Geneva, sans-serif;
 }

 div.dialog div.bottom {
     text-align: right;
     padding: 10px 10px 10px 0px;
     border-top: 1px dashed #999999;

 }

 div.bottom .btn1 {
     border: none;
     width: 63px;
     height: 29px;
     cursor: pointer;

 }

 div.bottom #btnSure {
     background-image: url(img/delSure.jpg);
 }

 div.bottom #btnCancel {
     background-image: url(img/delCancel.jpg);
 }